# Introduction

Titanic disaster in one of the deadliest disasters in history. Among more than 2,000 passengers and crew aboard, more than 1,500 people died. If you have watched the movie "Titanic", you may be familiar with the disater.
There are not enought lifeboats aboard, which causes the huge amount of death. Therefore, being in the lifeboats is the key to survive. In the movie, people tend to send women and children to lifeboats and let them survive, but is it true in the real life? The purpose of this project is to predict who will survive in this disaster.

## Data

The dataset can be found [here](https://www.kaggle.com/c/titanic/data), including:

* training set (train.csv)
* test set (test.csv)

### Features

* pclass - Ticket class (1 = Upper, 2 = Middle, 3 = Lower)
* sex - Sex	
* Age - in years (fractional if less than 1. If the age is estimated, is it in the form of xx.5)
* sibsp	- # of siblings / spouses aboard the Titanic	
  * sibling - brother, sister, stepbrother, stepsister
  * spouses - husband, wife (mistresses and fianc√©s were ignored)
* parch	- # of parents / children aboard the Titanic	
* ticket - Ticket number	
* fare - Passenger fare	
* cabin - Cabin number	
* embarked - Port of Embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

### Label

* survival - Survival (0 = No, 1 = Yes)

# Getting Started

To begin working with the data, we need to first install all the necessary modules, and then load the data into a pandas DataFrame

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
train = pd.read_csv('train.csv')

# Explanatory Data Analysis

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S